.flex-container {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-around {
    justify-content: space-around;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-space-evenly {
    justify-content: space-evenly;
}

.align-items-center {
    align-items: center;
}

.align-content-center {
    align-content: center;
}

.align-content-space-around {
    align-content: space-around;
}

.align-content-space-between {
    align-content: space-between;
}